VITE_SUPABASE_URL=https://rqfcaiejxbdsjxzuvlyp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJxZmNhaWVqeGJkc2p4enV2bHlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI5OTYxNTksImV4cCI6MjA5ODU3MjE1OX0.HbWbpHqRgcmYk9XdHh345iyenOxbmPxhjxYAogElPTo
